﻿@model IEnumerable<SuccessiveDotNetTest.Models.ViewModel>

@{
    ViewBag.Title = "ScheduledInterviewDetails";
}

<h2>ScheduledInterviewDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email_ID </th>
        <th>Experience </th>
        <th>Scheduled_Date and Time</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.candidate.FirstName @item.candidate.LastName</td>
            <td>@item.candidate.Email_ID</td>
            <td>@item.candidate.Experience</td>
            <td>@item.candidate.Experience @item.interviewSchedule.Scheduled_Date @item.interviewSchedule.TimeFrom @item.interviewSchedule.TimeTo</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.candidate  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
